.ImgContainer {
  position: relative;
  display: block;

  /* Устраняет проблемы с отступами */
  width: 80%;
  height: 150px;
  /* Высота изображения */
  object-fit: cover;
  /* Обрезает или масштабирует изображение, чтобы оно заполняло элемент */
}

.Container {
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 255, 0.2);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  margin: 20px;
  padding: 10px;
  background: rgb(98, 180, 98);
}
